{% extends 'default/home.html.twig' %}
{% block css %}
<style>
 .titre {color: green}
</style>
{% endblock %}
{% block body %}

<h2 class="titre">Liste des Preteur</h2>
<table class="table well table-striped table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Telephone</th>
        <th>adress</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
     {% for p in preteur %}
      <tr>
        <td>{{ p.nom  }}</td>
        <td>{{ p.telephone  }}</td>
        <td>{{ p.adress  }}</td>
        <td>

          <a
            class="btn btn-primary btn-xs"
            href="">Modifier</a>
          <a
            class="btn btn-danger btn-xs"
            href="">Supprimer</a>
        </td>
      </tr>
     {% endfor %}
    </tbody>
  </table>


{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
